extends layout

block content
  h1= title

  if errors.length 
    ul
      each error in errors
        li= error.msg

  form(action='/' method='POST')
    label(for='name') Name:
    input(type='text' name='name' value=(data && data.name) ? data.name : '')
    br

    label(for='email') Email:
    input(type='email' name='email' value=(data && data.email) ? data.email : '')
    br

    button(type='submit') Register
